@model Vin.Sample.Data.Model.Settings.CallToActionSettings
@{
    ViewBag.Title = "CallToAction";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well">
            <div class="header">
                Call To Action Buttons
            </div>
            <form id="settingSave" method="post" class="form-horizontal" role="form" a>
                <div class="form-group">
                    <label>Donations</label>
                    @Html.TextBoxFor(x => x.LinkOneText, new { @class = "form-control", placeholder = "Donations Text" })
                </div>
                <div class="form-group">
                    <label>Donations</label>
                    @Html.TextBoxFor(x => x.LinkOneUrl, new { @class = "form-control", placeholder = "Donations Url" })
                </div>
                <div class="form-group">
                    <label>Volunteer</label>
                    @Html.TextBoxFor(x => x.LinkTwoText, new { @class = "form-control", placeholder = "Volunteer Text" })
                </div>
                <div class="form-group">
                    <label>Volunteer</label>
                    @Html.TextBoxFor(x => x.LinkTwoUrl, new { @class = "form-control", placeholder = "Volunteer Url" })
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-default btn-block" type="reset"><i class="fa fa-times"></i> Cancel</button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-check"></i> Save</button>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        settingsInit();
    </script>
}
