
@{
    ViewBag.Title = "Completed";
    Layout = "";
}

<div class="row">
    <div class="twelve columns">
        <p>Installation is complete. Please visit the @Html.ActionLink("home page", "index", "Page") to get started.</p>
    </div>
</div>

